<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center"><%= @event_place.name %></h1>
      <p class="lead"><%= @event_place.description %></p>
      <p><strong>Location:</strong> <%= @event_place.location %></p>

      <% if @event_place.category %>
        <p><strong>Category:</strong> <%= @event_place.category.name %></p>
      <% end %>

      <% if @event_place.photos.attached? %>
        <h2>Photos</h2>
        <div class="row">
          <% @event_place.photos.each do |photo| %>
            <div class="col-md-4 mb-3">
              <%= image_tag photo, class: 'img-fluid rounded' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
